<div class="trips-data">
  <div class="trips-list">
    <%= for {trip, data} <- @trips do %>
        <div tabindex="1" class="trip" phx-click="get-user-data" onclick="drawTrip(<%= Jason.encode!(data[:points]) %>)">
          <%= data[:name] %></div>
    <% end %>
  </div>
    <div class="trips-details"> <%= @trasa %> </div>
  </div>
</div>