
  <div class="trips-container">

    <div class="trips-list">
       <%= for {trip, data} <- trips(@conn) do %>
          <div tabindex="1" class="trip" onclick="drawTrip(<%= Jason.encode!(data[:points]) %> )">

            <%= data[:name] %></div>
       <% end %>
    </div>
    <div class="trips-details"> DUPA DUPA </div>
    <div class="trips-map">
      <div id="map">
        <script> integrateMap() </script>
      </div>
    </div>
  </div>

      