@import "constants";

.charts__description-block {
  color: $dark-blue;
  font-size: 10px;
  margin-top: 5vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
}

.charts__container {
  background: transparent;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-bottom: 8em;
}

.charts__chart {
  display: flex;
  margin: 1vh;
  width: 90%;
  min-width: 400px;
  padding: 0;
  border: 2px solid $dark-blue;
  border-radius: $base-radius;
}

.charts__chart--horizontal {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 0;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: space-between;
  border-radius: $base-radius;
}

.charts__chart--short-left {
  display: flex;
  flex-basis: 50%;
  min-width: 400px;
  flex-grow: 1;
  margin-bottom: 1vh;
  margin-top: 1vh;
  border: 2px solid $dark-blue;
  border-radius: $base-radius;
}

.charts__chart--short-right {
  display: flex;
  flex-basis: 50%;
  min-width: 400px;
  margin-bottom: 1vh;
  margin-top: 1vh;
  border: 2px solid $dark-blue;
  border-radius: $base-radius;
  flex-grow: 1;
}
