@import "constants";

.login-container {
  background: $snow-white;
  width: 20%;
  min-width: 300px;
  display: flex;
  align-self: flex-start;
  text-align: center;
  font-size: 1.2em;
  color: $dark-blue;
  border-radius: 8px;
  border: $dark-blue solid 2px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-top: 15vh;
  margin-bottom: 20px;
}
.login-container__alert {
  margin-bottom: 10px;
  margin-top: 0;
  height: 20px;
  width: 100%;
  padding: 5px;

  font-size: 1.1em;
  color: rgb(211, 4, 4);
}

.login-container__label {
  font-size: 1.2em;
}

.login-container__password {
  display: inline;
  text-align: center;
  background-color: $snow-white;
  border: 2px solid $dark-blue;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px $snow-white inset !important;
  -webkit-box-shadow: 0 0 0 30px $snow-white inset !important;
  border: 2px solid $dark-blue;
}

form {
  width: 100%;
}

/* ***** image ****** */

.login-container__bird {
  justify-content: center;
  align-items: center;
  display: flex;
  color: $dark-blue;
  font-size: 3.5em;
  margin-top: 10px;
  padding: 0;
  transition: 0.5s;
}
