@import "constants";

#map {
  width: 100%;
  height: 100%;
}

.travels-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.map {
  min-width: 300px;
  min-height: 500px;
  flex-basis: 72%;
  flex-grow: 1;
  border-radius: $base-radius;
  margin: 1%;
  border: $dark-blue solid 2px;
  background: #000000;
  font-size: 1.2em;
  color: $dark-blue;
}

.trips-container {
  align-content: center;
  justify-content: center;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: column;
  min-width: 300px;
  margin: 1%;
}

.phx-connected {
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  flex-shrink: 1;
  flex-basis: 0;
}

.phx-disconnected {
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  flex-shrink: 1;
  flex-basis: 0;
}

.trips {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.trips__details-header {
  color: $dark-blue;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
}

.trips__list-header {
  color: $dark-blue;
  text-align: center;
  font-size: 1.2em;
}

.trips__list-waiting_message {
  color: $dark-blue;
  text-align: center;
  font-size: 1.2em;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

.trips__details {
  background: $snow-white;
  margin-bottom: 30px;
  padding: 5px;
  font-size: 1em;
  color: $dark-blue;
  border-radius: $base-radius;
  padding: 1px;
  border: $dark-blue solid 2px;
  text-align: left;
}

.trips__details-key {
  font-size: 1.2em;
}

.trips__details-value {
  font-size: 1em;
  color: $base-red;
}

.trips__list {
  background: $snow-white;
  padding: 10px;
  font-size: 1.2em;
  color: $base-background-color;
  border-radius: $base-radius;
  border: $dark-blue solid 2px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: scroll;
  flex-basis: 300px; /* IMPORTANT: you need this for non-chrome browsers */
}

.trips__trip {
  flex-shrink: 0;
  background: $dark-blue;
  border: none;
  color: $base-background-color;
  width: 100%;
  margin-bottom: 2px;
  outline: none;
  border-radius: $base-radius;
  border: solid 2px transparent;
}

.trips__trip:hover,
.trips__trip:active,
.trips__trip:focus {
  color: $dark-blue;
  background: $bright-blue;
  border: solid 2px $dark-blue;
  vertical-align: center;
  outline: none;
}
