/* Main structure */

body, html{
    background: #e1e1eb;
    height: 100vh;
    width: 100%;
}

.body::-webkit-scrollbar { 
    display: none; 
}

.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.header{
    background: #590680;
    border-bottom: solid 2px black;
    opacity: 0.9;
    flex-shrink: 0;
}

.nvb-btn{
    margin: 0 5px 0 5px ;
    border: solid 1px black;
    color: white;
    background: rgb(151, 27, 27);
}

.container{
    flex: 1 0 auto;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.container::-webkit-scrollbar { 
    display: none; 
}


.footer{
    background: #590680;
    text-align: center;
    height: 30px;
    color: rgb(231, 185, 68);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    opacity: 0.9;
    font-size:small;
    text-align:center;
    margin-top: 50px;
    flex-shrink: 0;
}

.h, h5{
    margin: 0;
}

/* Charts */
.title{
    color: rgb(231, 185, 68);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    margin-top: 5px;
    margin-bottom: 0px;

}

.description-block{
    color: black;
    margin-top: 5vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
}

.charts-container{
    background: #3a3636;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-bottom: 5vh;
}

.chart{
    display: flex;
    margin: 1vh ;
    border-radius: 4px;
    min-width: 350px;
    width: 48%;
}

img{
    justify-content: center;
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
}
