@import url('charts.css');
@import url('home.css');
@import url('login.css');
@import url('trips.css');

/* Main structure */

body,
html {
  background: #131327;
  height: 100%;
  width: 100%;
}

.body::-webkit-scrollbar {
  display: none;
} 

.main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  height: 100%;
}

/********** header ***********/


.header {
  background: linear-gradient(180deg, #18182a, black);
  border-bottom: solid 2px black;
  flex-shrink: 0;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  z-index: 10;
}
.header-child {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  align-content: center;
  justify-content: flex-end;
}

.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}

.btn-wraper {
  display: flex;
  align-content: center;
  justify-content: flex-end;
}

.sign-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: felx-start;
  color: #0cf55a;
  font-size: 1.1em;
  margin-right: 5px;
  align-self: center;
  justify-content: center;
  align-content: center;
  font-size: 0.42em;
  margin-left: 5px;
}
.far{
  margin-top: 5px;
  margin-left: 4px;
}

.infinibird{
  margin-right:5px;
  font-size: 0.7em;
}

.title {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: #0cdaf5;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2em;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: 0.5s;
}
.fas {
  margin-right: 5px;
  font-size: 0.7em; 
  margin-top:5px;
}
.title:hover {
  color: #ff8a58;
  transition: 0.5s;
}

.nvb-btn {
  text-align: center;
  margin: 5px;
  padding: 5px 3px 5px 3px;
  border-radius: 5px;
  width: 73px;
  font-size: 0.85em;
  border: solid 1px #0cdaf5;
  color: #0cdaf5;
  background: transparent;
  outline: none;

}
.nvb-btn:hover {
  border: solid 1px #ff8a58;
  color: #ff8a58;
  background: black;
  text-decoration: none;
  outline: none;

}
.nvb-btn:active {
  border: solid 1px #ec5a1b;
  color: #ec5a1b;
  background: black;
  outline: none;
}
/********** conatiner ***********/

.container {
  max-width: 100%;  
  margin: 0;
  padding: 0;
  display: flex; 
  flex-grow: 1;
  justify-content: center; 
}
.container::-webkit-scrollbar {
  display: none;
}

/********** footer ***********/

.footer {
  background: linear-gradient(180deg, #0e0e18, black);
  text-align: center;
  height: 20px;
  bottom: 0;
  color: #0cdaf5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8em;
  text-align: center;
  flex-shrink: 0;
  transition: 0.5s;
  z-index: 10;

}
.footer:hover {
  color: #ffa958;
  transition: 0.5s;
  
}
p{
  margin:0;
}


